.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  max-width: 1280px;
  padding: 6px;
}
.container.full {
  max-width: 100%;
}

.box {
  float: left;
  padding: 6px;
  width: 100%;
}

.l-1 {
  width: 8.3333333333%;
}

.l-2 {
  width: 16.6666666667%;
}

.l-3 {
  width: 25%;
}

.l-4 {
  width: 33.3333333333%;
}

.l-5 {
  width: 41.6666666667%;
}

.l-6 {
  width: 50%;
}

.l-7 {
  width: 58.3333333333%;
}

.l-8 {
  width: 66.6666666667%;
}

.l-9 {
  width: 75%;
}

.l-10 {
  width: 83.3333333333%;
}

.l-11 {
  width: 91.6666666667%;
}

.l-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .m-1 {
    width: 8.3333333333%;
  }

  .m-2 {
    width: 16.6666666667%;
  }

  .m-3 {
    width: 25%;
  }

  .m-4 {
    width: 33.3333333333%;
  }

  .m-5 {
    width: 41.6666666667%;
  }

  .m-6 {
    width: 50%;
  }

  .m-7 {
    width: 58.3333333333%;
  }

  .m-8 {
    width: 66.6666666667%;
  }

  .m-9 {
    width: 75%;
  }

  .m-10 {
    width: 83.3333333333%;
  }

  .m-11 {
    width: 91.6666666667%;
  }

  .m-12 {
    width: 100%;
  }

  .m-hide {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .s-1 {
    width: 8.3333333333%;
  }

  .s-2 {
    width: 16.6666666667%;
  }

  .s-3 {
    width: 25%;
  }

  .s-4 {
    width: 33.3333333333%;
  }

  .s-5 {
    width: 41.6666666667%;
  }

  .s-6 {
    width: 50%;
  }

  .s-7 {
    width: 58.3333333333%;
  }

  .s-8 {
    width: 66.6666666667%;
  }

  .s-9 {
    width: 75%;
  }

  .s-10 {
    width: 83.3333333333%;
  }

  .s-11 {
    width: 91.6666666667%;
  }

  .s-12 {
    width: 100%;
  }

  .s-hide {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F5F5F5;
}

.box pre {
  background-color: #FF4136;
  text-align: center;
  color: #F5F5F5;
  padding: 24px 4px;
  font-size: 14px;
  margin: 0px;
}

pre {
  background-color: transparent;
  text-align: left;
  color: #FF4136;
  padding: 12px 4px;
  font-size: 14px;
  margin: 6px;
  border-radius: 6px;
}
